:root {
  --primaryOne: #FFC268;
  --primaryTwo: #76788E;
  
  --secondaryOne: #554123;
  --secondaryTwo: #2A2A2A;
  --secondaryThree: #FFD79B;
  --secondaryFour: #68F1FF;
  --secondaryFive: #FF7768;

  --neutralOne: #000000;
  --neutralTwo: #0B0B0B;
  --neutralThree: #0B0B0B;
  --neutralFour: #DDDDDD;
  --neutralFive: #f6f6f6;
  --neutralSix: #fff;

  --accentOne: #c7ffd8;
  --accentTwo: #98ded9;

  --semanticOne: #ffffff;
  --semanticTwo: #fafdff;
  --semanticThree: #f6f6f6;
  --semanticFour: #f2f2f2;
  --semanticFive: #e6f5ff;

  --primary-gradient: linear-gradient(116.44deg, #0018b6, #3a8df1, #27ccc3);
}
